# Node
node_modules/
package-lock.json
pnpm-lock.yaml

# Build / coverage / reports
dist/
artifacts/
coverage/
playwright-report/
test-results/
*.log
*.zip
*.webm
*.mp4
*.png
trace.zip
report.html
output.json

# Environment files
.env*
configs/env/.env*

# IDE / editor settings
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Temp
temp/
reports
*.iml